services:
  - type: web
    name: deepinfluence-backend
    env: node
    buildCommand: npm install && npx prisma generate && npx prisma db push --accept-data-loss
    startCommand: node src/server.js
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000